## Data Disclaimer

All the data serving as an input to these notebooks was generously donated by GEOLINK  
and is CC-by-SA 4.0 

If you use their data please reference their dataset properly to give them credit for their contribution.

In [1]:
import lasio
import matplotlib.pyplot as plt
%matplotlib inline
import os
import numpy as np
from sklearn import preprocessing
from operator import itemgetter

## Trying to find the greatest number of wells with the highest number of common well logs

This is starting to sound alot like a [Project Euler](https://projecteuler.net/) challenge...  

_Why do we want to do this?_  
For any machine learning algorithm, if we don't want to deal with missing data imputation then we'll have to use a common set of well logs.  
And the more of these datasets the better.

In [2]:
##### run this if you want to create the headers yourself ####
fname_and_headers = []
for f in os.listdir("../geolink_wells/"):
    try:
        fname_and_headers.append((f, lasio.read("../geolink_wells/"+f).keys()))
    except ValueError:
        print("Error in: ", f)
np.save("../data/log_headers.npy", np.array(fname_and_headers, dtype="object"))

In [3]:
fname_and_headers = np.load("../data/log_headers.npy")

Let's just join all these keys together so that we can encode them.

In [4]:
all_headers = []
for f, key in fname_and_headers:
    all_headers += key

I've decided to encode them so that we can deal with the numbers (probably strings work with sets too, lazy me).

In [5]:
enc = preprocessing.LabelEncoder()
unique_headers = enc.fit_transform(all_headers)
print(enc.transform(np.unique(all_headers)))

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27]

So we've now encoded all our unique labels in the header files, next let's transform all our header files to this encoding.  
We'll also make them sets so that we can do simple intersections and comparisons.

In [6]:
header_sets = []
for f, key in fname_and_headers:
    header_sets.append((f, set(enc.transform(key))))
print(header_sets[0:3])

[('35_11-5.las', {1, 4, 5, 7, 9, 10, 11, 13, 14, 15, 16, 18, 21, 24}), ('25_11-24.las', {0, 1, 3, 4, 5, 7, 9, 10, 11, 13, 14, 15, 16, 18, 19, 20}), ('34_4-5.las', {11, 4})]

Stop... *for loop time*:  
We'll now intersect each encoded well log header with every other well log header.
This should give us a fairly big list of intersections from which we'll find all the unique ones.

In [7]:
header_intersections = []
for i in range(len(header_sets)):
    for j in range(len(header_sets)):
        if i != j:
            header_intersections.append(header_sets[i][1].intersection(header_sets[j][1]))

In [8]:
print("Total number of intersections", len(header_intersections))

unique_headers, count_headers  = np.unique(header_intersections, return_counts=True)
##Oof, but these are all unsorted
print(count_headers[0:10])
print(unique_headers[0:10])

Total number of intersections 49506
[7686   12    2    1    8    1    1    3    1    5]
[{11, 4} {10, 11, 4, 15} {4, 10, 11, 15, 18}
 {1, 4, 5, 7, 10, 11, 13, 15, 16, 21, 24} {4, 10, 11, 15, 18}
 {4, 7, 10, 11, 16} {4, 10, 11, 13, 15, 16} {4, 10, 11, 15, 18}
 {1, 4, 5, 7, 10, 11, 13, 15, 16, 24} {4, 10, 11, 15, 18}]

Some stackexchange magic from [here](https://stackoverflow.com/questions/13668393/python-sorting-two-lists/13668413)

In [9]:
sorted_unique_headers, sorted_count_headers = [list(x) for x in zip(*sorted(zip(unique_headers, count_headers), key=itemgetter(1)))]
sorted_unique_headers, sorted_count_headers = sorted_unique_headers[::-1], sorted_count_headers[::-1]

In [10]:
N = 1
print("Total number of unique header combinations: ", len(sorted_count_headers))
print("Top ", 25, " unique intersections: ", sorted_count_headers[0:25])
print("Header names for the most common non-trivial well log combinations: ")
print(*np.unique(all_headers)[list(sorted_unique_headers[N])])

Total number of unique header combinations:  21190
Top  25  unique intersections:  [7686, 191, 133, 125, 118, 102, 100, 88, 87, 83, 83, 82, 81, 80, 80, 78, 76, 74, 69, 69, 68, 67, 67, 65, 58]
Header names for the most common non-trivial well log combinations:
CALI DEPT DRHO DTC GR LITHOLOGY_GEOLINK NPHI RDEP RHOB RMED

Let's try and get the well las file names where all these well logs are present.

In [11]:
out_well_fnames = []
for f, well_header in fname_and_headers:
    if len(set(enc.transform(well_header)).intersection(sorted_unique_headers[N])) == len(sorted_unique_headers[N]):
        out_well_fnames.append(f)
print(len(out_well_fnames))
print(out_well_fnames)

172
['35_11-5.las', '25_11-24.las', '15_9-2.las', '31_2-21 S.las', '34_8-3.las', '33_9-6.las', '16_11-1 S.las', '31_2-10.las', '30_6-8.las', '32_2-1.las', '35_11-10.las', '16_5-3.las', '30_6-11.las', '7_3-1.las', '35_11-7.las', '16_1-2.las', '25_7-2.las', '16_2-11 A.las', '31_5-4 S.las', '16_2-6.las', '31_4-3.las', '33_9-11.las', '15_9-9.las', '35_11-1.las', '15_9-13.las', '16_10-2.las', '35_9-7.las', '31_2-8.las', '16_2-7.las', '33_5-2.las', '16_4-1.las', '16_7-4.las', '25_5-3.las', '30_6-22.las', '34_2-2 R.las', '35_8-6 S.las', '15_9-15.las', '31_2-9.las', '25_5-4.las', '31_6-8.las', '34_7-21.las', '16_10-3.las', '15_9-12.las', '31_6-1.las', '30_3-5 S.las', '36_7-1.las', '17_4-1.las', '35_6-2 S.las', '25_10-10.las', '31_4-5.las', '25_11-15.las', '17_11-1.las', '16_7-2.las', '30_3-2 R.las', '25_2-5.las', '25_11-5.las', '31_5-3.las', '31_2-1.las', '34_10-16 R.las', '25_5-1.las', '30_3-3.las', '29_3-1.las', '34_10-7.las', '31_2-2 R.las', '34_7-5.las', '31_3-3.las', '31_4-6.las', '31_5-2 R.las', '7_1-2 S.las', '25_10-4 R.las', '31_4-4.las', '34_4-3.las', '31_4-10.las', '33_6-1.las', '35_3-1.las', '16_10-5.las', '34_5-1 S.las', '15_9-4.las', '34_10-21.las', '34_5-1 A.las', '34_3-1 A.las', '30_2-1.las', '34_8-7.las', '35_9-9.las', '30_4-1.las', '6_3-2.las', '34_10-33.las', '35_3-2.las', '31_2-3.las', '34_8-6.las', '35_11-2.las', '35_9-8.las', '25_2-7.las', '35_9-2.las', '35_11-12.las', '25_6-1.las', '29_6-1.las', '30_3-4 R.las', '34_4-2.las', '25_11-19 S.las', '30_11-3.las', '31_2-19 S.las', '34_11-2 S.las', '16_7-6.las', '35_8-1.las', '16_2-16.las', '34_10-17.las', '35_11-11.las', '16_8-1.las', '25_11-23.las', '33_6-3 S.las', '15_9-14.las', '31_6-5.las', '25_2-13 T4.las', '30_6-5.las', '34_7-12.las', '34_3-3 A.las', '26_4-1.las', '15_9-17.las', '35_3-5.las', '34_3-2 S.las', '34_7-13.las', '34_10-19.las', '25_4-1.las', '25_3-1.las', '30_6-23.las', '35_11-13.las', '25_8-5 S.las', '31_4-8.las', '16_10-1.las', '31_3-4.las', '34_10-23.las', '15_9-8.las', '31_2-7.las', '35_8-4.las', '35_9-6 S.las', '15_9-18.las', '35_4-1.las', '36_7-3.las', '33_9-17.las', '34_2-4.las', '35_3-7 S.las', '16_7-3.las', '34_7-15 S.las', '25_2-14.las', '33_9-1.las', '15_9-23.las', '31_3-2.las', '34_4-10 R.las', '16_7-5.las', '34_10-35.las', '25_10-9.las', '31_4-2.las', '30_7-7.las', '25_4-5.las', '15_9-7.las', '25_8-7.las', '34_10-12.las', '34_8-1.las', '34_12-1.las', '35_9-5.las', '7_1-1.las', '34_10-5.las', '30_6-14.las', '35_11-6.las', '35_9-10 S.las', '25_9-1.las', '25_6-2.las', '34_7-20.las', '30_4-2.las', '31_3-1.las', '35_12-1.las']

We can now proceed to import these files as las files and get their dataframes and hopefully put them into a data format that is more suited for ML tasks.

In [24]:
from tqdm import tqdm_notebook as tqdm
well_dataframes = []
for f in tqdm(out_well_fnames):
    well_dataframes.append(lasio.read("../geolink_wells/"+f).df())
    break
print(well_dataframes)

HBox(children=(IntProgress(value=0, max=172), HTML(value='')))

[             LITHOLOGY_GEOLINK       CALI      DRHO       NPHI      RHOB  \
DEPT
443.227997                 NaN        NaN       NaN        NaN       NaN
443.380402                 NaN        NaN       NaN        NaN       NaN
443.532806                 NaN        NaN       NaN        NaN       NaN
443.685211                 NaN        NaN       NaN        NaN       NaN
443.837616                 NaN        NaN       NaN        NaN       NaN
443.990021                 NaN        NaN       NaN        NaN       NaN
444.142426                 NaN        NaN       NaN        NaN       NaN
444.294800                 NaN        NaN       NaN        NaN       NaN
444.447205                 NaN        NaN       NaN        NaN       NaN
444.599609                 NaN        NaN       NaN        NaN       NaN
444.752014                 NaN        NaN       NaN        NaN       NaN
444.904419                 NaN        NaN       NaN        NaN       NaN
445.056824                 NaN        NaN       NaN        NaN       NaN
445.209198                 NaN        NaN       NaN        NaN       NaN
445.361603                 NaN        NaN       NaN        NaN       NaN
445.514008                 NaN        NaN       NaN        NaN       NaN
445.666412                 NaN        NaN       NaN        NaN       NaN
445.818817                 NaN        NaN       NaN        NaN       NaN
445.971222                 NaN        NaN       NaN        NaN       NaN
446.123627                 NaN        NaN       NaN        NaN       NaN
446.276001                 NaN        NaN       NaN        NaN       NaN
446.428406                 NaN        NaN       NaN        NaN       NaN
446.580811                 NaN        NaN       NaN        NaN       NaN
446.733215                 NaN        NaN       NaN        NaN       NaN
446.885620                 NaN        NaN       NaN        NaN       NaN
447.038025                 NaN        NaN       NaN        NaN       NaN
447.190430                 NaN        NaN       NaN        NaN       NaN
447.342804                 NaN        NaN       NaN        NaN       NaN
447.495209                 NaN        NaN       NaN        NaN       NaN
447.647614                 NaN        NaN       NaN        NaN       NaN
...                        ...        ...       ...        ...       ...
3777.130859                NaN   8.476562 -0.074081  44.942749  2.205511
3777.283203                NaN   8.460938 -0.074807  44.965397  2.209590
3777.435547                NaN   8.304688 -0.074343  45.160233  2.213140
3777.588135                NaN   8.218750 -0.076063  45.268967  2.209141
3777.740478                NaN   8.062500 -0.079468  45.459259  2.202317
3777.892822                NaN   7.949219 -0.082254  45.608772  2.195468
3778.045166                NaN   7.949219 -0.083449  45.608772  2.194834
3778.197510                NaN   7.949219 -0.086638  45.608772  2.190488
3778.350098                NaN   7.949219 -0.087970  45.608772  2.189146
3778.502441                NaN   7.949219 -0.090048  45.608772  2.187049
3778.654785                NaN   7.949219 -0.090048  45.608772  2.187049
3778.807129                NaN   7.949219 -0.090048  45.608772  2.187049
3778.959717                NaN  12.250001 -0.090048  45.608772  2.187049
3779.112061                NaN        NaN       NaN        NaN       NaN
3779.264404                NaN        NaN       NaN        NaN       NaN
3779.416748                NaN        NaN       NaN        NaN       NaN
3779.569336                NaN        NaN       NaN        NaN       NaN
3779.721680                NaN        NaN       NaN        NaN       NaN
3779.874023                NaN        NaN       NaN        NaN       NaN
3780.026367                NaN        NaN       NaN        NaN       NaN
3780.178711                NaN        NaN       NaN        NaN       NaN
3780.331299                NaN        NaN       NaN        NaN       NaN
3780.483643                NaN        NaN       NaN        NaN       NaN
3780.635986                NaN        NaN       NaN        NaN       NaN
3780.788330                NaN        NaN       NaN        NaN       NaN
3780.940918                NaN        NaN       NaN        NaN       NaN
3781.093262                NaN        NaN       NaN        NaN       NaN
3781.245605                NaN        NaN       NaN        NaN       NaN
3781.397949                NaN        NaN       NaN        NaN       NaN
3781.550537                NaN        NaN       NaN        NaN       NaN

                    PEF         GR   DTC  DTS      RDEP          SP  RSHA  \
DEPT
443.227997          NaN  42.707977   NaN  NaN       NaN         NaN   NaN
443.380402          NaN  39.981758   NaN  NaN       NaN         NaN   NaN
443.532806          NaN  37.370552   NaN  NaN       NaN         NaN   NaN
443.685211          NaN  32.266106   NaN  NaN       NaN         NaN   NaN
443.837616          NaN  28.130108   NaN  NaN       NaN         NaN   NaN
443.990021          NaN  26.835022   NaN  NaN       NaN         NaN   NaN
444.142426          NaN  27.441097   NaN  NaN       NaN         NaN   NaN
444.294800          NaN  29.518074   NaN  NaN       NaN         NaN   NaN
444.447205          NaN  30.653519   NaN  NaN       NaN         NaN   NaN
444.599609          NaN  30.506626   NaN  NaN       NaN         NaN   NaN
444.752014          NaN  29.331600   NaN  NaN       NaN         NaN   NaN
444.904419          NaN  27.531498   NaN  NaN  1.894686         NaN   NaN
445.056824          NaN  26.346573   NaN  NaN  2.023095         NaN   NaN
445.209198          NaN  26.746666   NaN  NaN  2.088481         NaN   NaN
445.361603          NaN  31.368614   NaN  NaN  2.135953         NaN   NaN
445.514008          NaN  34.760460   NaN  NaN  2.164025         NaN   NaN
445.666412          NaN  32.413933   NaN  NaN  2.263654         NaN   NaN
445.818817          NaN  30.966942   NaN  NaN  2.343820         NaN   NaN
445.971222          NaN  31.918510   NaN  NaN  2.291946         NaN   NaN
446.123627          NaN  33.703865   NaN  NaN  2.358171         NaN   NaN
446.276001          NaN  34.898277   NaN  NaN  2.535964         NaN   NaN
446.428406          NaN  35.629387   NaN  NaN  2.704395         NaN   NaN
446.580811          NaN  35.762413   NaN  NaN  2.775000         NaN   NaN
446.733215          NaN  36.004837   NaN  NaN  2.753102         NaN   NaN
446.885620          NaN  41.201218   NaN  NaN  2.667208         NaN   NaN
447.038025          NaN  46.526054   NaN  NaN  2.623240         NaN   NaN
447.190430          NaN  48.557739   NaN  NaN  2.605504         NaN   NaN
447.342804          NaN  47.784065   NaN  NaN  2.597528         NaN   NaN
447.495209          NaN  46.060616   NaN  NaN  2.683673         NaN   NaN
447.647614          NaN  45.018997   NaN  NaN  2.798909         NaN   NaN
...                 ...        ...   ...  ...       ...         ...   ...
3777.130859   94.437500  45.875000  74.5  NaN  9.390625  113.587494   NaN
3777.283203  130.375000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3777.435547  132.375000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3777.588135  179.875000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3777.740478  150.000000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3777.892822  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.045166  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.197510  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.350098  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.502441  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.654785  160.125000  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.807129    8.851562  45.875000  74.5  NaN  9.390625  113.587494   NaN
3778.959717    6.777344  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.112061         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.264404         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.416748         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.569336         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.721680         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3779.874023         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3780.026367         NaN  45.875000  74.5  NaN  9.390625  113.587494   NaN
3780.178711         NaN  45.875000  74.5  NaN  9.390625  113.587593   NaN
3780.331299         NaN  45.875000  74.5  NaN  9.390625  113.649994   NaN
3780.483643         NaN  45.875000  74.5  NaN  9.390625  113.649994   NaN
3780.635986         NaN  45.875000  74.5  NaN  9.390625  113.649994   NaN
3780.788330         NaN  45.875000  74.5  NaN  9.390625  113.649994   NaN
3780.940918         NaN  45.875000  74.5  NaN  9.390625  113.650192   NaN
3781.093262         NaN  45.875000  74.5  NaN  9.390625  113.712494   NaN
3781.245605         NaN  45.875000  74.5  NaN  9.390625  113.712494   NaN
3781.397949         NaN  45.875000  74.5  NaN  9.390625  113.599777   NaN
3781.550537         NaN  45.875000  74.5  NaN  9.390625         NaN   NaN

                 RMED
DEPT
443.227997        NaN
443.380402        NaN
443.532806        NaN
443.685211        NaN
443.837616        NaN
443.990021        NaN
444.142426        NaN
444.294800        NaN
444.447205        NaN
444.599609        NaN
444.752014        NaN
444.904419        NaN
445.056824        NaN
445.209198        NaN
445.361603        NaN
445.514008        NaN
445.666412        NaN
445.818817        NaN
445.971222        NaN
446.123627        NaN
446.276001        NaN
446.428406        NaN
446.580811        NaN
446.733215        NaN
446.885620        NaN
447.038025        NaN
447.190430        NaN
447.342804        NaN
447.495209        NaN
447.647614        NaN
...               ...
3777.130859  21.40625
3777.283203  21.40625
3777.435547  21.40625
3777.588135  21.40625
3777.740478  21.40625
3777.892822  21.40625
3778.045166  21.40625
3778.197510  21.40625
3778.350098  21.40625
3778.502441  21.40625
3778.654785  21.40625
3778.807129  21.40625
3778.959717  21.40625
3779.112061  21.40625
3779.264404  21.40625
3779.416748  21.40625
3779.569336  21.40625
3779.721680  21.40625
3779.874023  21.40625
3780.026367  21.40625
3780.178711  21.40625
3780.331299  21.40625
3780.483643  21.40625
3780.635986  21.40625
3780.788330  21.40625
3780.940918  21.40625
3781.093262  21.40625
3781.245605  21.40625
3781.397949  21.40625
3781.550537  21.40625

[21906 rows x 13 columns]]

In [25]:
well_dataframes[0].head()

,LITHOLOGY_GEOLINK,CALI,DRHO,NPHI,RHOB,PEF,GR,DTC,DTS,RDEP,SP,RSHA,RMED
DEPT,,,,,,,,,,,,,
443.227997,NaN,NaN,NaN,NaN,NaN,NaN,42.707977,NaN,NaN,NaN,NaN,NaN,NaN
443.380402,NaN,NaN,NaN,NaN,NaN,NaN,39.981758,NaN,NaN,NaN,NaN,NaN,NaN
443.532806,NaN,NaN,NaN,NaN,NaN,NaN,37.370552,NaN,NaN,NaN,NaN,NaN,NaN
443.685211,NaN,NaN,NaN,NaN,NaN,NaN,32.266106,NaN,NaN,NaN,NaN,NaN,NaN
443.837616,NaN,NaN,NaN,NaN,NaN,NaN,28.130108,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
well_dataframes[0].describe()

,LITHOLOGY_GEOLINK,CALI,DRHO,NPHI,RHOB,PEF,GR,DTC,DTS,RDEP,SP,RSHA,RMED
count,7362.000000,18460.000000,18459.000000,7374.000000,18460.000000,18449.000000,21906.000000,18592.000000,7009.000000,21895.000000,18588.000000,7448.000000,18589.000000
mean,9.363896,16.540613,-0.025488,28.226891,2.297814,10.994915,79.193541,108.309069,997.036344,3.052930,65.354793,33.883460,4.039052
std,4.966183,3.277885,0.157227,9.811672,0.291549,46.071120,22.984406,27.760326,229.318267,3.932845,49.456203,217.865715,8.712975
min,1.000000,7.949219,-1.460555,1.771864,1.209807,1.621701,14.090071,48.600006,548.679138,0.409521,0.751601,0.129722,0.144774
25%,6.000000,13.066406,-0.013127,19.844249,2.040244,4.289062,61.750000,84.900003,796.639954,1.036037,14.500150,3.081051,1.048237
50%,7.000000,17.875000,-0.006289,29.318535,2.431646,5.233411,84.856308,104.600006,957.731873,1.455078,51.500401,6.475961,1.704242
75%,16.000000,18.906250,0.001086,35.745694,2.516940,8.390556,93.562500,134.699989,1203.506348,3.574219,108.899994,9.858277,5.066406
max,18.000000,22.890625,0.480722,62.623631,3.362264,1000.000000,193.000000,163.600006,1552.308594,95.125000,157.837494,2000.000000,362.879578

Let's only keep those columns that are shared amongst all wells.

In [43]:
logs_of_interest = list(np.unique(all_headers)[list(sorted_unique_headers[N])])
logs_of_interest.remove('DEPT')

In [45]:
well_dataframes[0][logs_of_interest]

,CALI,DRHO,DTC,GR,LITHOLOGY_GEOLINK,NPHI,RDEP,RHOB,RMED
DEPT,,,,,,,,,
443.227997,NaN,NaN,NaN,42.707977,NaN,NaN,NaN,NaN,NaN
443.380402,NaN,NaN,NaN,39.981758,NaN,NaN,NaN,NaN,NaN
443.532806,NaN,NaN,NaN,37.370552,NaN,NaN,NaN,NaN,NaN
443.685211,NaN,NaN,NaN,32.266106,NaN,NaN,NaN,NaN,NaN
443.837616,NaN,NaN,NaN,28.130108,NaN,NaN,NaN,NaN,NaN
443.990021,NaN,NaN,NaN,26.835022,NaN,NaN,NaN,NaN,NaN
444.142426,NaN,NaN,NaN,27.441097,NaN,NaN,NaN,NaN,NaN
444.294800,NaN,NaN,NaN,29.518074,NaN,NaN,NaN,NaN,NaN
444.447205,NaN,NaN,NaN,30.653519,NaN,NaN,NaN,NaN,NaN
444.599609,NaN,NaN,NaN,30.506626,NaN,NaN,NaN,NaN,NaN
444.752014,NaN,NaN,NaN,29.331600,NaN,NaN,NaN,NaN,NaN
444.904419,NaN,NaN,NaN,27.531498,NaN,NaN,1.894686,NaN,NaN
445.056824,NaN,NaN,NaN,26.346573,NaN,NaN,2.023095,NaN,NaN
445.209198,NaN,NaN,NaN,26.746666,NaN,NaN,2.088481,NaN,NaN
445.361603,NaN,NaN,NaN,31.368614,NaN,NaN,2.135953,NaN,NaN
445.514008,NaN,NaN,NaN,34.760460,NaN,NaN,2.164025,NaN,NaN
445.666412,NaN,NaN,NaN,32.413933,NaN,NaN,2.263654,NaN,NaN
445.818817,NaN,NaN,NaN,30.966942,NaN,NaN,2.343820,NaN,NaN
445.971222,NaN,NaN,NaN,31.918510,NaN,NaN,2.291946,NaN,NaN
446.123627,NaN,NaN,NaN,33.703865,NaN,NaN,2.358171,NaN,NaN
446.276001,NaN,NaN,NaN,34.898277,NaN,NaN,2.535964,NaN,NaN
446.428406,NaN,NaN,NaN,35.629387,NaN,NaN,2.704395,NaN,NaN
446.580811,NaN,NaN,NaN,35.762413,NaN,NaN,2.775000,NaN,NaN
446.733215,NaN,NaN,NaN,36.004837,NaN,NaN,2.753102,NaN,NaN
446.885620,NaN,NaN,NaN,41.201218,NaN,NaN,2.667208,NaN,NaN
447.038025,NaN,NaN,NaN,46.526054,NaN,NaN,2.623240,NaN,NaN
447.190430,NaN,NaN,NaN,48.557739,NaN,NaN,2.605504,NaN,NaN
447.342804,NaN,NaN,NaN,47.784065,NaN,NaN,2.597528,NaN,NaN
447.495209,NaN,NaN,NaN,46.060616,NaN,NaN,2.683673,NaN,NaN
447.647614,NaN,NaN,NaN,45.018997,NaN,NaN,2.798909,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3777.130859,8.476562,-0.074081,74.5,45.875000,NaN,44.942749,9.390625,2.205511,21.40625
3777.283203,8.460938,-0.074807,74.5,45.875000,NaN,44.965397,9.390625,2.209590,21.40625
3777.435547,8.304688,-0.074343,74.5,45.875000,NaN,45.160233,9.390625,2.213140,21.40625
3777.588135,8.218750,-0.076063,74.5,45.875000,NaN,45.268967,9.390625,2.209141,21.40625
3777.740478,8.062500,-0.079468,74.5,45.875000,NaN,45.459259,9.390625,2.202317,21.40625
3777.892822,7.949219,-0.082254,74.5,45.875000,NaN,45.608772,9.390625,2.195468,21.40625
3778.045166,7.949219,-0.083449,74.5,45.875000,NaN,45.608772,9.390625,2.194834,21.40625
3778.197510,7.949219,-0.086638,74.5,45.875000,NaN,45.608772,9.390625,2.190488,21.40625
3778.350098,7.949219,-0.087970,74.5,45.875000,NaN,45.608772,9.390625,2.189146,21.40625
3778.502441,7.949219,-0.090048,74.5,45.875000,NaN,45.608772,9.390625,2.187049,21.40625
3778.654785,7.949219,-0.090048,74.5,45.875000,NaN,45.608772,9.390625,2.187049,21.40625
3778.807129,7.949219,-0.090048,74.5,45.875000,NaN,45.608772,9.390625,2.187049,21.40625
3778.959717,12.250001,-0.090048,74.5,45.875000,NaN,45.608772,9.390625,2.187049,21.40625
3779.112061,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3779.264404,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3779.416748,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3779.569336,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3779.721680,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3779.874023,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.026367,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.178711,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.331299,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.483643,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.635986,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.788330,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3780.940918,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3781.093262,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3781.245605,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3781.397949,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625
3781.550537,NaN,NaN,74.5,45.875000,NaN,NaN,9.390625,NaN,21.40625

In [46]:
well_dataframes[0][logs_of_interest].describe()

,CALI,DRHO,DTC,GR,LITHOLOGY_GEOLINK,NPHI,RDEP,RHOB,RMED
count,18460.000000,18459.000000,18592.000000,21906.000000,7362.000000,7374.000000,21895.000000,18460.000000,18589.000000
mean,16.540613,-0.025488,108.309069,79.193541,9.363896,28.226891,3.052930,2.297814,4.039052
std,3.277885,0.157227,27.760326,22.984406,4.966183,9.811672,3.932845,0.291549,8.712975
min,7.949219,-1.460555,48.600006,14.090071,1.000000,1.771864,0.409521,1.209807,0.144774
25%,13.066406,-0.013127,84.900003,61.750000,6.000000,19.844249,1.036037,2.040244,1.048237
50%,17.875000,-0.006289,104.600006,84.856308,7.000000,29.318535,1.455078,2.431646,1.704242
75%,18.906250,0.001086,134.699989,93.562500,16.000000,35.745694,3.574219,2.516940,5.066406
max,22.890625,0.480722,163.600006,193.000000,18.000000,62.623631,95.125000,3.362264,362.879578